project.dir =
project.name = mo_ogone
project.version = 0.1
project.stability = alpha

coding.standard = Zend

phpunit.testsuite.file = moogoneMainTestSuite.php
phpunit.testsuite.class = moogoneMainTestSuite

database.host = localhost
database.user = root
database.password = root
database.database = mo_ogone__oxid_483

test.installation = /htdocs/mo_ogone__shops/oxid/483/
test.moduletestdir = /var/www/ogone484/eshop/modules/mo/mo_ogone/tests/
test.dir = /htdocs/mo_ogone__oxid_5__shops/unittests
test.password = admin
