#Config for build-brand script. Feel free to modify it.

CONFIG['git-url-base']='git@bitbucket.org:mediaopt/'
CONFIG['git-url']='git@bitbucket.org:mediaopt/acceptance-oxid.git'
CONFIG['brand']='acceptance'
CONFIG['branch']='master'
CONFIG['path-to-icon']='src/modules/mo/mo_ingenico/logo.png'
REPLACE_IN_FILES_DICT+=('ingenico__')
REPLACE_IN_FILES_DICT+=('secure.ogone.com')
REPLACE_IN_FILES_DICT+=('ogone.test.v-psp.com')
REPLACE_IN_FILES_DICT+=('INGENICO')
REPLACE_IN_FILES_DICT+=('Ingenico')
REPLACE_IN_FILES_DICT+=('MOINOXD30')
REPLACE_IN_FILES_DICT+=('ingenico')
REPLACE_IN_FILES_DICT+=('INOX170524')
REPLACE_IN_FILES['ingenico']='paytool'
REPLACE_IN_FILES['INGENICO']='PAYTOOL'
REPLACE_IN_FILES['secure.ogone.com']='secure.paytool.de'
REPLACE_IN_FILES['ogone.test.v-psp.com']='paytool.test.v-psp.com'
REPLACE_IN_FILES['ingenico__']='ptool__'
REPLACE_IN_FILES['MOINOXD30']='MOPTOXD30'
REPLACE_IN_FILES['INOX170524']='ACOX170524'
REPLACE_IN_FILES['Ingenico']='Paytool'
RENAME_FILES_DICT+=('ingenico__')
RENAME_FILES_DICT+=('Ingenico')
RENAME_FILES_DICT+=('ingenico')
RENAME_FILES['ingenico__']='ptool__'
RENAME_FILES['ingenico']='paytool'
RENAME_FILES['Ingenico']='Paytool'
