#Config for build-brand script. Feel free to modify it.

CONFIG['git-url-base']='git@bitbucket.org:mediaopt/'
CONFIG['git-url']='git@bitbucket.org:mediaopt/acceptance-oxid.git'
CONFIG['brand']='acceptance'
CONFIG['branch']='master'
CONFIG['path-to-icon']='src/modules/mo/mo_ogone/logo.png'
REPLACE_IN_FILES['ogone__']='ptool__'
REPLACE_IN_FILES['OGONE']='PAYTOOL'
REPLACE_IN_FILES['Ogone']='Paytool'
REPLACE_IN_FILES['MOOGOXDv30']='MOPTOXD30'
REPLACE_IN_FILES['ogone']='paytool'
REPLACE_IN_FILES['secure.ogone.com']='secure.paytool.de'
REPLACE_IN_FILES['##appid##']='ACOX170524'
RENAME_FILES['Ogone']='Paytool'
RENAME_FILES['ogone']='paytool'
